<form class="create-form" [formGroup]="createForm">

    @if (formState.identityVerificationError()) {
        <div class="identity-error-banner">{{ formState.identityVerificationError() }}</div>
    }

    <div class="form-field">
        <label for="firstName">{{ i18n.t('create.firstName') }} <span class="required">*</span></label>
        <input
            id="firstName"
            type="text"
            formControlName="firstName"
            [placeholder]="i18n.t('create.firstName')"
            (input)="sanitizeLetters($event, 'firstName')"
            (blur)="setLetterFieldError('firstName', false)"
        >
        @if (letterFieldErrors().firstName) {
            <span class="field-error">{{ i18n.t('create.nameError') }}</span>
        }
    </div>

    <div class="form-field">
        <label for="middleName">{{ i18n.t('create.middleName') }}</label>
        <input
            id="middleName"
            type="text"
            formControlName="middleName"
            [placeholder]="i18n.t('create.middleName')"
            (input)="sanitizeLetters($event, 'middleName')"
            (blur)="setLetterFieldError('middleName', false)"
        >
        @if (letterFieldErrors().middleName) {
            <span class="field-error">{{ i18n.t('create.nameError') }}</span>
        }
    </div>

    <div class="form-field">
        <label for="lastName">{{ i18n.t('create.lastName') }} <span class="required">*</span></label>
        <input
            id="lastName"
            type="text"
            formControlName="lastName"
            [placeholder]="i18n.t('create.lastName')"
            (input)="sanitizeLetters($event, 'lastName')"
            (blur)="setLetterFieldError('lastName', false)"
        >
        @if (letterFieldErrors().lastName) {
            <span class="field-error">{{ i18n.t('create.nameError') }}</span>
        }
    </div>

    <div class="form-field">
        <label for="birthDate">{{ i18n.t('create.birthDate') }} <span class="required">*</span></label>
        <mat-form-field class="date-field" appearance="outline" subscriptSizing="dynamic">
            <input
                matInput
                id="birthDate"
                placeholder="DD/MM/YYYY"
                [matDatepicker]="birthDatePicker"
                [max]="today"
                formControlName="birthDate"
            >
            <mat-datepicker-toggle matIconSuffix [for]="birthDatePicker"></mat-datepicker-toggle>
            <mat-datepicker
                #birthDatePicker
                [calendarHeaderComponent]="datePickerHeader"
                panelClass="app-date-picker-panel"
            ></mat-datepicker>
        </mat-form-field>
    </div>

    <div class="form-field">
        <label for="gender">{{ i18n.t('create.gender') }} <span class="required">*</span></label>
        <select id="gender" formControlName="gender">
            <option value="" disabled selected>{{ i18n.t('create.selectPlaceholder') }}</option>
            <option value="1">{{ i18n.t('create.genderMale') }}</option>
            <option value="2">{{ i18n.t('create.genderFemale') }}</option>
        </select>
    </div>

    <div class="form-field">
        <label for="fatherName">{{ i18n.t('create.fatherName') }}</label>
        <input
            id="fatherName"
            type="text"
            formControlName="fatherName"
            [placeholder]="i18n.t('create.fatherName')"
            (input)="sanitizeLetters($event, 'fatherName')"
            (blur)="setLetterFieldError('fatherName', false)"
        >
        @if (letterFieldErrors().fatherName) {
            <span class="field-error">{{ i18n.t('create.nameError') }}</span>
        }
    </div>

    <div class="form-field">
        <label for="motherName">{{ i18n.t('create.motherName') }}</label>
        <input
            id="motherName"
            type="text"
            formControlName="motherName"
            [placeholder]="i18n.t('create.motherName')"
            (input)="sanitizeLetters($event, 'motherName')"
            (blur)="setLetterFieldError('motherName', false)"
        >
        @if (letterFieldErrors().motherName) {
            <span class="field-error">{{ i18n.t('create.nameError') }}</span>
        }
    </div>

    <div class="form-field">
        <label for="nationalId">{{ i18n.t('create.nationalId') }} <span class="required">*</span></label>
        <input
            id="nationalId"
            type="text"
            inputmode="numeric"
            maxlength="11"
            formControlName="nationalId"
            [placeholder]="i18n.t('create.nationalId')"
            (input)="sanitizeNationalId($event)"
            (blur)="nationalIdError.set(false)"
        >
        @if (nationalIdError()) {
            <span class="field-error">{{ i18n.t('create.nationalIdError') }}</span>
        }
    </div>

</form>
