/* You can add global styles to this file, and also import other style files */
<<<<<<< HEAD

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
=======
>>>>>>> e30a3ca57aad24604ec7887d56afe09e94e85c61
